<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Component_A_ClassLibrary.Properties.Settings.ea3996rConnectionString"
            connectionString="Data Source=sql-server;Initial Catalog=ea3996r;Persist Security Info=True;User ID=ea3996r;Password=!1SQLServer"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>